#page { max-width: 95%; margin: 0px auto; }
#header { clear: both; }
#navig { font-size: 0.95em; }
#navig ul { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; list-style: none; }
#navig li { margin: 2px 0px 0px 0px; }
#navig ul li ul { padding: 0px 0px 0px 16px; }
#content { }


dl.definition { width: 95%; }
dl.definition > dt {  background-color: #e6f5fc; padding: 4px 4px 4px 4px; }
dl.definition > dd {
    padding: 4px 4px 4px 4px; margin: 4px 0px 12px 40px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3);
}

table.data {
    font-size: 0.9em;
    border-collapse: collapse;
    margin: 24px 0px 24px 0px; width: 95%;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3);
}
table.data th, td { border: 1px solid #ECECEC; padding: 4px 12px 4px 12px; }
table.data thead { background-color: #FAFAFA; text-align: left; }
table.data thead tr:first-child { background-color: #f0f0f0; font-size: 1.1em; }

.page-container {
    margin: 12px 0px 0px 0px; padding: 16px 16px 16px 24px; 
    background-color: #FFF; border: 1px solid #DDD; border-radius: 16px; -moz-border-radius: 16px; 
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3);
}
.editor { 
    margin: 24px 0px 24px 0px; width: 95%;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3);
}
.imagelink  img {
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
}

.label {
    margin: 0px 0px 0px 12px; padding: 2px 12px 2px 12px; 
    color: #FFFFFF; text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; font-size: 12px; font-weight: 400;
    background-color: #777777; border-radius: 4px; -moz-border-radius: 4px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3); 
}

.label-primary{
    background-color: #428bca;
}
.label-success {
    background-color: #5cb85c;
}
.label-info {
    background-color: #5bc0de;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-danger {
    background-color: #d9534f;
}